body {
	background-color: lightblue;
}

.blue {
	background-color: darkblue;
	color: white;
	padding-top: 30px;
  	padding-right: 30px;
  	padding-bottom: 30px;
  	padding-left: 30px;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 32px;
}

#paragraph2 { 
	background-color: white;
	border: 4px solid green;
	padding-top: 20px;
  	padding-right: 30px;
  	padding-bottom: 20px;
  	padding-left: 40px;
	margin-left: 35px;
	line-height: 1.9;
	width: 50%;

}

table {
	width: 45%;
	border-collapse: collapse;
	
	
}

th,td{
	border: 2px solid black;
	padding: 10px;
}

th{
	background-color: lightgrey;
	font-weight: bold;
	text-align: center;
}

td {
	background-color: white;
}

h1 {
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 56px;
}

h3 {
	font-size: 1.1em;
}

p a {
	color: darkred;
}

ol {
    list-style-type: decimal-leading-zero;
}

